[submodule "src/Drizzle"]
	path = src/Drizzle
	url = https://github.com/ofincandescence/Drizzle
	branch = embedded-dev
[submodule "ImGui.NET"]
	path = src/ImGui.NET
	url = https://github.com/pkhead/ImGui.NET
